<nav class="site-nav" role="navigation" aria-label="Main navigation">
  <div class="container">
    <a href="#about-heading">👩‍💻 About</a>
    <a href="#writing-heading">✍️ Writing</a>
    <a href="#github-heading">🔥 Analytics</a>
    <a href="#techstack-heading">🔧 Tech Stack</a>
    <a href="#projects-heading">⭐ Projects</a>
    <a href="#achievements-heading">🏆 Achievements</a>
    {% if site.posts.size > 0 %}<a href="#blog-heading">📝 Blog</a>{% endif %}
    <a href="#connect-heading">🤝 Connect</a>
  </div>
</nav>
